.sidecont {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  background: #0d0d0d;
  display: none;
  align-items: center;
  top: 0;
  left: 0;
  transition: 0.3s ease-in-out;
  opacity: 100%;
}

.sidecont.active {
  opacity: 0;
  top: 100%;
}

.times {
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.8rem;
  cursor: pointer;
  transform: translate(-100%, 75%);
}

.side-contmenu {
  color: #fff;
}
.sidemenu {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 80px);
  text-align: center;
}
.sidelink {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  text-decoration: none;
  list-style: none;
  transition: 0.2s ease-in-out;
  color: #fff;
  cursor: pointer;
}
.sidelink:hover {
  color: #f26a2e;
  transition: 0.2s ease-in-out;
}
.navbtn2 {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 980px) {
  .sidemenu {
    grid-template-rows: repeat(5, 60px);
  }
  .sidecont {
    display: grid;
  }
}
